<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Testing Projects/Ex1">
        <classes>

            <class name="loginTests.LoginTestsSuccess">
                <methods>
                    <include name="HomePageOpenSuccessfully"/>
                    <include name="loginTestsSuccessfully"/>
                    <include name="logOutTestsSuccussfully"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>